pandas~=1.4.1
numpy~=1.22.2
pymorphy2~=0.9.1
tensorflow~=2.8.0
keras~=2.8.0
scikit-learn~=1.0.2
matplotlib~=3.5.1
termcolor~=1.1.0
requests~=2.27.1
Werkzeug~=2.0.3
json-rpc~=1.13.0
beautifulsoup4~=4.10.0
lxml~=4.8.0